@font-face { font-family: Futura; src: url('typo/Futura.otf'); }

body{
  margin: 0;
  height: 1000px;
  min-width: 920px;
  font-family: Futura, sans-serif;
}
.container{
  width: 100%;
  height: 90%;
  background-color: white;
  margin: 0 auto;
}
.padded{
  padding: 0px 5%;
  box-sizing: border-box;
}

.content{
  height: 80%;
}

.box{
  box-sizing: border-box;
}

.content .menuactive .icon img{
  width: 82px;
}

#myajaxcont{
  display: none
}
