.content .arrivals{
  padding: 20px 0;
  height: 45%;
  border-bottom: 3px solid grey;
}
.content .arrivals > div{
  height: 100%;
  float: left;
}
.content .arrivals .product{
  text-align: center;
  display: none;
}
.content .arrivals .product .img-container{
  height: 80%;
}
.content .arrivals .product .img-container img{
  height: 95%;
}
.content .arrivals .product .product-description{
  height: 20%;
  font-size: 28px;
}
.content .arrivals .left-arrow,.right-arrow{
  width: 10%;
  height: 50% !important;
  position: relative;
  top: 100px;
}
.content .arrivals .right-arrow img{
  height: 42px;
  float: right;
  cursor: pointer;

}
.content .arrivals .left-arrow img{
  height: 42px;
  cursor: pointer;
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
}
.content .arrivals .product{
  width: 80%;
}


.content .whoweare{
  padding: 20px 0;
  height: 30%;
  border-bottom: 2px solid black;
}
.content .whoweare > div{
  height: 100%;
  float: left;
}
.content .whoweare .spry{
  width: 30%;
}
.content .whoweare .spry img{
  top: 87px;
  position: relative;
  -moz-transform:translateY(-40%) ;
  -webkit-transform:translateY(-40%) ;
  -o-transform:translateY(-40%) ;
  -ms-transform:translateY(-40%) ;
  width: 250px;
}
.content .whoweare .right img{
  float: right;
  top: 36px;
  -moz-transform:rotateY(180deg) ;
  -webkit-transform:rotateY(180deg) ;
  -o-transform:rotateY(180deg) ;
  -ms-transform:rotateY(180deg) ;
}
.content .whoweare .text-we-are{
  width: 40%;
  padding: 1% 15px;
  font-size: 22px;
  text-align:justify;
  text-justify:inter-word;
}

.content .somebrands{
  padding: 20px 0;
  height: 25%;
}
.content .somebrands ul{
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding-top: 15px;
}
.content .somebrands ul li{
  box-sizing: border-box;
  float: left;
  height: 100%;
  width: 20%;
  text-align: center;
}
.content .somebrands ul li img{
  height: 100px;
  position: relative;
  top: 20px;
  max-width: 186px;
}

.home-subtitle{
  position: absolute;
  font-size: 26px;
  max-height: 50px;
}
